uorb start
dataman start -f storage
param load
param set MAV_BROADCAST 0
param set SYS_AUTOSTART 1001
param set MAV_TYPE 2
param set MAV_SYS_ID 2

# Set parameters to avoid manual calibration
param set BAT_N_CELLS 3
param set COM_RC_IN_MODE 1

#Calibration
param set CAL_BOARD_ID 2

param set CAL_BARO_PRIME 0

param set CAL_ACC0_ID 4288784
param set CAL_ACC_PRIME 4288784

param set CAL_GYRO0_ID 4288784
param set CAL_GYRO_PRIME 4288784

param set CAL_MAG0_ID 4288784
param set CAL_MAG_PRIME 4288784


# Load drivers
#df_mpu9250_wrapper start -R 10
#df_ms5611_wrapper start
#navio_rgbled start
#gps start -d /dev/spidev0.0 -i spi -p ubx

# Start applications
commander start -hil
sensors start

navigator start
#attitude_estimator_q start
#position_estimator_inav start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start

# Start MavLink streams
#mavlink start -u 14556 -r 1000000 # Original mavlink instance

# Communication with the simulator (remote port = 4000 + 2*MAV_SYS_ID)
mavlink start -o 4004 -u 4005 -t 127.0.0.1 -r 1000000

##mavlink start -o 6000 -u 6001 -t 127.0.0.1 -r 1000000
# Communication with the companion computer
##mavlink start -o 6000 -u 6001 -t 10.30.3.165 -r 1000000

sleep 1
#mavlink stream -u 14556 -s HIGHRES_IMU -r 20
#mavlink stream -u 14556 -s ATTITUDE -r 20
#mavlink stream -u 14556 -s MANUAL_CONTROL -r 10

# On the channel for the Companion computer streams only the hearbeat, containing the state of the vehicle, and the local position in NED coordinate.
mavlink stream -u 6001 -s LOCAL_POSITION_NED -r 50
mavlink stream -u 6001 -s HEARTBEAT -r 50

# Start RC pins
#navio_sysfs_rc_in start
navio_sysfs_pwm_out start -m ROMFS/px4fmu_common/mixers/quad_x.main.mix

# Log and boot
logger start -t
mavlink boot_complete
